<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>LoadGen</title>
        <meta charset="utf-8"></meta>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="jumbotron bg-info text-center">
            <h1 class="text-white display-4">Load Generator</h1>
            <p class="text-white lead">Creating different types of application load since 2021</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p class="display-5">Choose load type:</p>
                    <form  method="POST" th:action="@{/loadDetails}" th:object="${loadInput}">
                        <div class="form-group">
                            <select class="form-control" name="loadType">
                                <option th:each="loadOpt : ${T(com.pb.loadgen.domains.LoadType).values()}"
                                        th:value="${loadOpt}" th:text="${loadOpt}"></option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-info">Next</button>
                    </form>
                    <p></p>
                    <form method="GET" th:action="@{/summary}">
                        <button class="btn btn-info">Check running load</button>
                    </form>
                </div>
                <div class="col-sm">
                    <p class="display-5">Available load generators:</p>
                    <div class="accordion">
                        <div class="card">
                            <div class="card-header" id="stubbornSalesman">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#stubbornSalesmanDesc" aria-expanded="false" aria-controls="stubbornSalesmanDesc">
                                      Stubborn Salesman
                                    </button>
                                </h2>
                            </div>
                            <div id="stubbornSalesmanDesc" class="collapse" aria-labelledby="stubbornSalesman">
                                <div class="card-body">
                                    <p><strong>Parameters:</strong></p>
                                    <ul>
                                        <li>Number of threads</li>
                                        <li>Load percentage</li>
                                    </ul>
                                    <p><strong>Description:</strong></p>
                                    <ul>
                                        <li>Steady CPU load equal to given load percentage</li>
                                        <li>Number of threads decides how many copies of generator will start.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="indecisiveSalesman">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#indecisiveSalesmanDesc" aria-expanded="false" aria-controls="indecisiveSalesmanDesc">
                                      Indecisive Salesman
                                    </button>
                                </h2>
                            </div>
                            <div id="indecisiveSalesmanDesc" class="collapse" aria-labelledby="indecisiveSalesman">
                                <div class="card-body">
                                    <p><strong>Parameters:</strong></p>
                                    <ul>
                                        <li>Number of threads</li>
                                        <li>Base load percentage</li>
                                        <li>Target load percentage</li>
                                        <li>Load percentage change step</li>
                                        <li>Change speed - how many seconds pass between load percentage changes</li>
                                    </ul>
                                    <p><strong>Description:</strong></p>
                                    <ul>
                                        <li>CPU load starts at base load percentage, then jumps by given amount.</li>
                                        <li>Speed parameter decides how often (aprox. in seconds) jump is made.</li>
                                        <li>Step value is reversed when load reaches target value.</li>
                                        <li>If base value is bigger than target they change place.</li>
                                        <li>Number of threads decides how many copies of generator will start.</li>
                                    </ul> 
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="stubbornHoarder">
                                <h2 class="mb-0">
                                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#stubbornHoarderDesc" aria-expanded="false" aria-controls="stubbornHoarderDesc">
                                    Stubborn Hoarder
                                  </button>
                                </h2>
                            </div>
                            <div id="stubbornHoarderDesc" class="collapse" aria-labelledby="stubbornHoarder">
                                <div class="card-body">
                                    <p><strong>Parameters:</strong></p>
                                    <ul>
                                        <li>Memory load in megabytes</li>
                                    </ul>
                                    <p><strong>Description:</strong></p>
                                    <p>Load generator reserves given amount of megabytes of system memory. After finishing load test system tries to initialize garbage collection</p>
                                </div>
                            </div>  
                        </div>
                        <div class="card">
                            <div class="card-header" id="indecisiveHoarder">
                                <h2 class="mb-0">
                                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#indecisiveHoarderDesc" aria-expanded="false" aria-controls="indecisiveHoarderDesc">
                                    Indecisive Hoarder
                                  </button>
                                </h2>
                            </div>
                            <div id="indecisiveHoarderDesc" class="collapse" aria-labelledby="indecisiveHoarder">
                                <div class="card-body">
                                    <p><strong>Parameters:</strong></p>
                                    <ul>
                                        <li>Base memory load in megabytes</li>
                                        <li>Target memory load in megabytes</li>
                                        <li>Memory load size change</li>
                                        <li>Change speed - how many seconds pass between load size changes</li>
                                    </ul>
                                    <p><strong>Description:</strong></p>
                                    <ul>
                                        <li>Load generator reserves given amount of megabytes of system memory.</li>
                                        <li>After given time load is changed by given amount.</li>
                                        <li>Speed parameter decides how often (aprox. in seconds) change is made.</li>
                                        <li>Step value is reversed when load reaches target value.</li>
                                        <li>If base value is bigger than target they change place.</li>
                                        <li>Step value is reversed when load reaches target value.</li>
                                    </ul> 
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="hanoiResolver">
                                <h2 class="mb-0">
                                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#hanoiResolverDesc" aria-expanded="false" aria-controls="hanoiResolverDesc">
                                    Hanoi Resolver
                                  </button>
                                </h2>
                            </div>
                            <div id="hanoiResolverDesc" class="collapse" aria-labelledby="hanoiResolver">
                                <div class="card-body">
                                    <p><strong>Parameters:</strong></p>
                                    <ul>
                                        <li>Number of discs in hanoi tower</li>
                                    </ul>
                                    <p><strong>Description:</strong></p>
                                    <ul>
                                        <li>Load generator resolves hanoi tower problem of given difficulty.</li>
                                    </ul> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>