<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>LoadGen</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="jumbotron bg-primary text-center">
            <h1 class="text-white">Load Generator</h1>
            <p class="text-white">Create different types of application load</p>
        </div>
        <div class="container">
            <div class="d-flex flex-row justify-content-center">
                <div class="p-5">
                    <form  method="POST" th:action="@{/start}" th:object="${loadInput}">
                        <label for="loadPicker">Load type:</label>
                        <div id="loadPicker" class="form-group">
                            <select name="loadType">
                                <option th:each="loadOpt : ${T(com.pb.loadgen.domains.LoadType).values()}"
                                        th:value="${loadOpt}" th:text="${loadOpt}"></option>
                            </select>
                        </div>
                        <label for="loadPicker">Load percentage:</label>
                        <div class="form-group">
                            <input type="text" th:field="*{loadPercentage}"/>
                        </div>
                        <label for="loadPicker">Indecisiveness:</label>
                        <div class="form-group">
                            <input type="text" th:field="*{indecisiveness}"/>
                        </div>
                        <label for="loadPicker">Speed:</label>
                        <div class="form-group">
                            <input type="text" th:field="*{speed}"/>
                        </div>
                        <button>Start</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>