<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>LoadGen</title>
        <meta charset="utf-8"></meta>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="jumbotron bg-info text-center">
            <h1 class="text-white display-4">Load Generator</h1>
            <p class="text-white lead">Creating different types of application load since 2021</p>
        </div>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-sm-4">
                    <p>Choose parameters for load type <span th:text="${loadInput.loadType}">loadType</span></p>
                    <form  method="POST" th:action="@{/start}" th:object="${loadInput}">
                        <div class="form-group" th:if="${loadInput.loadType} == ${T(com.pb.loadgen.domains.LoadType).CPU_STUBBORN_SALESMAN}">
                            <p>Number of logical processors: <span th:text="${logicalProcessorNumber}">logicalProcessorNumber</span></p>
                            <label>Number of threads:</label>
                            <input class="form-control" type="number" min="1" max="24" th:field="*{threadNumber}"/>
                            <label>Load percentage:</label>
                            <input class="form-control" type="number" min="0" max="100" th:field="*{loadPercentage}"/>
                        </div>
                        <div class="form-group" th:if="${loadInput.loadType} == ${T(com.pb.loadgen.domains.LoadType).CPU_INDECISIVE_SALESMAN}">
                            <p>Number of logical processors: <span th:text="${logicalProcessorNumber}">logicalProcessorNumber</span></p>
                            <label>Number of threads:</label>
                            <input class="form-control" type="number" min="0" max="24" th:field="*{threadNumber}"/>
                            <label>Load percentage - lower threshold:</label>
                            <input class="form-control" type="number" min="0" max="100" th:field="*{loadPercentage}"/>
                            <label>Load percentage - high threshold:</label>
                            <input class="form-control" type="number" min="1" max="100" th:field="*{loadPercentageHigh}"/>
                            <label for="loadPicker">Load percentage change step:</label>
                            <input class="form-control" type="number" min="1" max="100" th:field="*{loadPercentageChangeStep}"/>
                            <label for="loadPicker">Load percentage change frequency in seconds:</label>
                            <input class="form-control" type="number" min="1" max="60" th:field="*{loadPercentageChangeFrequencyS}"/>
                        </div>
                        <div class="form-group" th:if="${loadInput.loadType} == ${T(com.pb.loadgen.domains.LoadType).MEM_STUBBORN_HOARDER}">
                            <p>Java init heap: <span th:text="${initHeap}">initHeap</span> MB</p>
                            <p>Java max heap: <span th:text="${maxHeap}">maxHeap</span> MB</p>
                            <p>Java used heap: <span th:text="${usedHeap}">maxHeap</span> MB</p>
                            <label for="loadPicker">Memory load in megabytes:</label>
                            <input class="form-control" type="number" min="0" th:field="*{memoryLoadSizeMiB}"/>
                        </div>
                        <div class="form-group" th:if="${loadInput.loadType} == ${T(com.pb.loadgen.domains.LoadType).MEM_INDECISIVE_HOARDER}">
                            <p>Java init heap: <span th:text="${initHeap}">initHeap</span> MB</p>
                            <p>Java max heap: <span th:text="${maxHeap}">maxHeap</span> MB</p>
                            <p>Java used heap: <span th:text="${usedHeap}">maxHeap</span> MB</p>
                            <label for="loadPicker">Memory load - lower threshold [MiB]:</label>
                            <input class="form-control" type="number" min="0" th:field="*{memoryLoadSizeMiB}"/>
                            <label for="loadPicker">Memory load - high threshold [MiB]:</label>
                            <input class="form-control" type="number" min="1" th:field="*{memoryLoadSizeMiBHigh}"/>
                            <label for="loadPicker">Memory load change step [MiB]:</label>
                            <input class="form-control" type="number" min="1" th:field="*{memoryLoadSizeMiBChangeStep}"/>
                            <label for="loadPicker">Memory load change frequency [s]:</label>
                            <input class="form-control" type="number" min="1" th:field="*{memoryLoadChangeFrequencyS}"/>
                        </div>
                        <div class="form-group" th:if="${loadInput.loadType} == ${T(com.pb.loadgen.domains.LoadType).HANOI_RESOLVER}">
                            <label>Number of discs in hanoi tower:</label>
                            <input class="form-control" type="number" min="1" max="24" th:field="*{hanoiSize}"/>
                        </div>
                        <button class="btn btn-info">Start</button>
                        <button class="btn btn-danger" th:formaction="@{/}">Back</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>